<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Nomen</key>
		<string>Ianuarius</string>
		<key>Dies</key>
		<integer>31</integer>
		<key>Nonae</key>
		<integer>8</integer>
		<key>Idus</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>Nomen</key>
		<string>Februarius</string>
		<key>Dies</key>
		<integer>28</integer>
		<key>Nonae</key>
		<integer>6</integer>
		<key>Idus</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>Nomen</key>
		<string>Martius</string>
		<key>Dies</key>
		<integer>31</integer>
		<key>Nonae</key>
		<integer>8</integer>
		<key>Idus</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>Nomen</key>
		<string>Aprilis</string>
		<key>Dies</key>
		<integer>28</integer>
		<key>Nonae</key>
		<integer>6</integer>
		<key>Idus</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>Nomen</key>
		<string>Maius</string>
		<key>Dies</key>
		<integer>31</integer>
		<key>Nonae</key>
		<integer>8</integer>
		<key>Idus</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>Nomen</key>
		<string>Iunius</string>
		<key>Dies</key>
		<integer>28</integer>
		<key>Nonae</key>
		<integer>6</integer>
		<key>Idus</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>Nomen</key>
		<string>Iulius</string>
		<key>Dies</key>
		<integer>31</integer>
		<key>Nonae</key>
		<integer>8</integer>
		<key>Idus</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>Nomen</key>
		<string>Augustus</string>
		<key>Dies</key>
		<integer>31</integer>
		<key>Nonae</key>
		<integer>8</integer>
		<key>Idus</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>Nomen</key>
		<string>September</string>
		<key>Dies</key>
		<integer>30</integer>
		<key>Nonae</key>
		<integer>6</integer>
		<key>Idus</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>Nomen</key>
		<string>October</string>
		<key>Dies</key>
		<integer>31</integer>
		<key>Nonae</key>
		<integer>6</integer>
		<key>Idus</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>Nomen</key>
		<string>November</string>
		<key>Dies</key>
		<integer>30</integer>
		<key>Nonae</key>
		<integer>6</integer>
		<key>Idus</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>Nomen</key>
		<string>December</string>
		<key>Dies</key>
		<integer>31</integer>
		<key>Nonae</key>
		<integer>8</integer>
		<key>Idus</key>
		<integer>15</integer>
	</dict>
</array>
</plist>
